.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
.extra-light {
    font-weight: 200;
    text-transform: capitalize;
    color: deepskyblue;
}

.text-upper {
    text-transform: uppercase;
}

.text-capital {
    text-transform: capitalize;
}

div#image {
/*
    border-style: solid; border-width: 2px;
    border-color: #42dca3;
*/
/*    float:left;*/
    /*width: 416px; height: 416px; line-height: 416px;*/
    width: max-width;
    height: auto;
    text-align:center;
}
div#image > img {
    vertical-align: middle;
}

div.feed-back {
  float: left;
  width:  20px;
  height: 20px;
  margin: 6px;
}

img.feed-back {
  max-width: 100%;
  max-height: 100%;
}

.color-3 {
    background-color: #42dca3;
}

.color-2 {
    background-color: #1C5C45;
}

.color-1 {
    background-color: #2F9C74;
}

.color-4f {
    color: #46E9AC;
}

.color-3f {
    color: #42dca3;
}

.color-2f {
    color: #1C5C45;
}

.color-1f {
    color: #2F9C74;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px;
    margin-top: 8px;
    padding: 4px 6px 6px 10px;
    text-align: left;
    font-size: 20px;
}

#image_url {
    background-color: rgba(0,0,0,0.1);
    border-color: antiquewhite;
    border-radius: 0px;
    width: 100%;
    color: white;
}
#image_url:focus {
    background-color: rgba(0,0,0,0.1);
    border-color: #42dca3;
}
#upload-bar {
    margin: 8px 8px 8px 8px;
}

.yes:hover {
    color: green;
}

.no:hover {
    color: red;
}
